.nav {
	background-color: rgb(245, 245, 245);
	height: 66px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.nav__container {
	margin: 0 auto;
	padding: 0;
	display: flex;
	flex-direction: row;
	gap: 40px;
}
.nav__link-wrapper {
	list-style: none;
}
.nav__link {
	color: black;
	text-decoration-line: underline;
	cursor: pointer;
	font-size: 13px;
	line-height: 16px;
	
}
.nav__link:hover {
	opacity: 0.8;
}

@media screen and (max-width: 425px) {
	.nav__container {
		gap: 24px;
	}
	
	.nav__link {
		font-size: 11px;
	}
}